
6.1 Sourcing Open Data: Flavors of Cacao

This Script Includes

    1. Importing Libraries and Data Set
    2. Data Cleaning
    3. Data Understanding

1. Importing Libraries and Data Set

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
df_cacao=pd.read_csv(r"C:\Users\Owner\Downloads\Edited Flavor of Cacao Data - achievement 6.csv")

2. Data Cleaning

In [5]:
df_cacao.head()

,Company,Specific Bean Origin\n,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Blend,São Tomé and Príncipe
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Blend,Togo
2,A. Morin,Cusco,1676,2015,70%,France,3.00,Blend,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Blend,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Blend,Peru

In [6]:
# rows and columns
df_cacao.shape

(1657, 9)

In [7]:
# general info on DF 
df_cacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1657 entries, 0 to 1656
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Company                1657 non-null   object
 1   Specific Bean Origin
  1657 non-null   object
 2   REF                    1657 non-null   int64
 3   Review
Date            1657 non-null   int64
 4   Cocoa
Percent          1657 non-null   object
 5   Company
Location       1657 non-null   object
 6   Rating                 1657 non-null   float64
 7   Bean
Type              1657 non-null   object
 8   Broad Bean
Origin      1657 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 116.6+ KB

In [8]:
# checking for missing values
df_cacao.isnull().sum()

Company                   0
Specific Bean Origin\n    0
REF                       0
Review\nDate              0
Cocoa\nPercent            0
Company\nLocation         0
Rating                    0
Bean\nType                0
Broad Bean\nOrigin        0
dtype: int64

In [9]:
# will drop duplicates if there are any
df_cacao.drop_duplicates(inplace=True)

In [10]:
df_cacao.columns

Index(['Company', 'Specific Bean Origin\n', 'REF', 'Review\nDate',
       'Cocoa\nPercent', 'Company\nLocation', 'Rating', 'Bean\nType',
       'Broad Bean\nOrigin'],
      dtype='object')

In [11]:
df_cacao.rename(columns={'Specific Bean Origin\n': 'Specific_Bean_Origin'}, inplace=True)

df_cacao.rename(columns={'Review\nDate': 'Review_Date'}, inplace=True)

df_cacao.rename(columns={'Cocoa\nPercent': 'Cocoa_Percent'}, inplace=True)

df_cacao.rename(columns={'Company\nLocation': 'Company_Location'}, inplace=True)

df_cacao.rename(columns={'Bean\nType': 'Bean_Type'}, inplace=True)

df_cacao.rename(columns={'Broad Bean\nOrigin': 'Broad_Bean_Origin'}, inplace=True)

df_cacao.rename(columns={'REF': 'Reference_Number'}, inplace=True)

In [12]:
df_cacao.columns

Index(['Company', 'Specific_Bean_Origin', 'Reference_Number', 'Review_Date',
       'Cocoa_Percent', 'Company_Location', 'Rating', 'Bean_Type',
       'Broad_Bean_Origin'],
      dtype='object')

In [13]:
rating_mapping = {
    1: 'Unpleasant',
    1.5: 'Unpleasant',
    1.75: 'Disappointing',
    2: 'Disappointing',
    2.25: 'Disappointing',
    2.5: 'Mediocre',
    2.75: 'Mediocre',
    3: 'Satisfactory',
    3.25: 'Satisfactory',
    3.5: 'Satisfactory',
    3.75: 'Praiseworthy',
    4: 'Premium',
    5: 'Elite'
}

In [14]:
df_cacao['Rating_meaning'] = df_cacao['Rating'].map(rating_mapping)

In [15]:
df_cacao.head()

,Company,Specific_Bean_Origin,Reference_Number,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin,Rating_meaning
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Blend,São Tomé and Príncipe,Praiseworthy
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Blend,Togo,Mediocre
2,A. Morin,Cusco,1676,2015,70%,France,3.00,Blend,Togo,Satisfactory
3,A. Morin,Akata,1680,2015,70%,France,3.50,Blend,Togo,Satisfactory
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Blend,Peru,Satisfactory

3. Data Understanding

In [17]:
df_cacao.describe()

       Reference_Number  Review_Date       Rating
count       1653.000000  1653.000000  1653.000000
mean        1055.733212  2012.436782     3.197066
std          548.086011     2.876877     0.458306
min            5.000000  2006.000000     1.000000
25%          607.000000  2010.000000     3.000000
50%         1097.000000  2013.000000     3.250000
75%         1518.000000  2015.000000     3.500000
max         1952.000000  2017.000000     5.000000

In [18]:
df_cacao.dtypes

Company                  object
Specific_Bean_Origin     object
Reference_Number          int64
Review_Date               int64
Cocoa_Percent            object
Company_Location         object
Rating                  float64
Bean_Type                object
Broad_Bean_Origin        object
Rating_meaning           object
dtype: object

In [19]:
df_cacao.columns

Index(['Company', 'Specific_Bean_Origin', 'Reference_Number', 'Review_Date',
       'Cocoa_Percent', 'Company_Location', 'Rating', 'Bean_Type',
       'Broad_Bean_Origin', 'Rating_meaning'],
      dtype='object')

In [20]:
df_cacao.shape

(1653, 10)

In [21]:
df_cacao.isnull().sum()

Company                 0
Specific_Bean_Origin    0
Reference_Number        0
Review_Date             0
Cocoa_Percent           0
Company_Location        0
Rating                  0
Bean_Type               0
Broad_Bean_Origin       0
Rating_meaning          0
dtype: int64

In [22]:
df_cacao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1653 entries, 0 to 1656
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1653 non-null   object
 1   Specific_Bean_Origin  1653 non-null   object
 2   Reference_Number      1653 non-null   int64
 3   Review_Date           1653 non-null   int64
 4   Cocoa_Percent         1653 non-null   object
 5   Company_Location      1653 non-null   object
 6   Rating                1653 non-null   float64
 7   Bean_Type             1653 non-null   object
 8   Broad_Bean_Origin     1653 non-null   object
 9   Rating_meaning        1653 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 142.1+ KB

In [23]:
df_cacao.to_csv("../Updated/df_cacao_cleaned.csv", index=False)